# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
sw_customer/node_modules
sw_customer/.pnp
sw_customer.pnp.js

# testing
sw_customer/coverage

# next.js
sw_customer/.next/
sw_customer/out/

# production
sw_customer/build

# misc
.DS_Store
sw_customer/.DS_Store
sw_customer/*.pem

# debug
sw_customer/npm-debug.log*
sw_customer/yarn-debug.log*
sw_customer/yarn-error.log*

# local env files
sw_customer/.env*.local

# vercel
.vercel

# typescript
sw_customer/*.tsbuildinfo
sw_customer/next-env.d.ts
sw_customer/test-results/
sw_customer/playwright-report/
sw_customer/playwright/.cache/
