{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<style>
    .reset-password-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        padding: 20px;
        font-family: Arial, sans-serif;
    }
    
    h1 {
        color: #009688;  /* Cyan color */
        margin-bottom: 20px;
    }

    p {
        text-align: center;
        color: #7f8c8d;
        margin-bottom: 20px;
    }

    input {
        padding: 10px 15px;
        border: 1px solid #bdc3c7;
        border-radius: 5px;
        margin-bottom: 10px;
        width: 250px;
        font-size: 16px;
    }

    .reset-password-button {
        background-color: #009688;  /* Cyan color */
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .reset-password-button:hover {
        background-color: #007d65;  /* Darker Cyan color for hover effect */
    }

    .errors p {
        color: red;
        font-weight: bold;
    }
</style>

<div class="reset-password-container">
    <h1>{% trans "Reset Your Password for shop-wiz.ie" %}</h1>

    <form method="post" action=".">
        {% csrf_token %}
        <input type="hidden" name="uid" value="{{ uid }}">
        <input type="hidden" name="token" value="{{ token }}">
        <input type="password" name="new_password1" placeholder="New Password" required>
        <input type="password" name="new_password2" placeholder="Confirm New Password" required>
        <button class="reset-password-button" type="submit">Reset password</button>
    </form>
    
    {% if errors %}
        <div class="errors">
            {% for field, error_list in errors.items %}
                {% for error in error_list %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}
