# Ignore all .env files everywhere
**/*.env
.envs

my_venv
.gitignore
celerybeat-schedule

*.pyc
*.pyo
*.mo

**/.vscode/
**/*.db
**/*.sqlite3
**/*.css.map
**/*.egg-info
**/*.sql.gz
**/*.cache
**/*.project
**/*.idea
**/*.pydevproject
**/*.idea/workspace.xml
**/.DS_Store
**/.git/
**/.sass-cache
**/.vagrant/
**/__pycache__
